version: '3'
services:
  testbucket:
    container_name: testbucket
    build: .
    volumes:
      - ./:/code
    networks:
      nettestbucket:
        ipv4_address: 192.168.0.99
  tbcoverage:
    container_name: tbcoverage
    image: nginx:latest
    ports:
      - "99:80"
    volumes:
      - ./tmp/coverage:/usr/share/nginx/html
    networks:
      nettestbucket:
        ipv4_address: 192.168.0.98
networks:
  nettestbucket:
    ipam:
      driver: default
      config:
        - subnet: 192.168.0.0/24