<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false"
         cacheResult="false">

    <php>
        <env name="TEST_SPEC_V1" value="/code/tests/TestSpecFiles/v1"/>
        <env name="TESTBUCKET_DIR" value="/code/tmp/bucket"/>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="tmp/coverage" lowUpperBound="35" highLowerBound="70" />
    </logging>
</phpunit>